@use '../abstracts' as *;

.character-modal {
    width: min(400px, 90vw);
    max-height: 90vh;
    overflow-y: auto;
    padding: 0;
    border: var(--border-accent-dark);
    border-radius: var(--border-radius-card);
    color: var(--color-text);
    background: var(--background-modal);
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.7);
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    &::backdrop {
        background: rgba(5, 5, 5, 0.75);
        backdrop-filter: blur(5px);
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 35px;
        padding: 20px;
    }

    &__head {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__image {
        width: 100%;
        height: 300px;
        object-fit: cover;
        object-position: center 10%;
        border-radius: var(--border-radius-card);
        border: var(--border-accent-dark);
    }

    &__tags {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        text-align: center;
    }

    &__tag {
        @include fluid-text(14, 12);

        background: var(--background-tag);
        padding: 5px;
        border-radius: var(--border-radius-card);
        text-align: center;
        color: var(--color-tag);
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__title {
        text-transform: var(--text-uppercase);
    }

    &__description {
        font-weight: 300;
        line-height: 1.6;
    }

    &__button {
        @include flex-center(true);

        padding: var(--button-padding-tablet);
        background-color: var(--color-accent);
        border: var(--border);
        border-radius: var(--border-radius);
        text-transform: var(--text-uppercase);
        font-weight: 700;
        transition: transform var(--transition-duration);

        @include hover {
            transform: translateY(-4px);
        }
    }
}