@use '../abstracts' as *;

.characters {
    &__container {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__head {
        display: flex;
        flex-direction: column;
        gap: 15px;
        text-transform: var(--text-uppercase);
        align-items: center;

        &-caption {
            text-align: center;
        }

        &-title {
            text-align: center;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 16px;
        place-items: center;
    }
}

.character-card {
    width: 100%;
    aspect-ratio: 3 / 4;
    max-height: 420px;
    border: var(--border-accent-dark);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    padding: 15px;
    border-radius: var(--border-radius-card);
    background-size: cover;
    background-position: center;
    transition: border var(--transition-duration), transform var(--transition-duration);

    @include mobile-s {
        justify-content: flex-end;
    }

    &__content {
        width: 100%;
        margin-top: auto;
        display: flex;
        flex-direction: column;
        gap: 25px;
        align-items: flex-start;

        @include mobile-s {
            gap: 20px;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__title {
        text-transform: var(--text-uppercase);

    }

    &__description {
        font-weight: 300;
        font-size: 16px;

        @include mobile-s {
            display: none;
        }
    }

    &__button {
        @include flex-center(true);

        align-items: center;
        gap: 10px;
        padding: 0;
        text-transform: var(--text-uppercase);
        color: var(--color-accent);
        background: transparent;
        border: var(--border);
        transition: color var(--transition-duration);

        &::after {
            content: '→';
            transition: transform var(--transition-duration);
        }

    }

    @include hover {
        border: var(--border-transparent-accent);
        transform: scale(1.02);

        .character-card__button {
            color: var(--color-text);
            &::after {
                transform: translateX(4px);
            }
        }
    }
}