@use '../abstracts' as *;

.footer {
    background-color: var(--color-header);

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        gap: 20px;

        @include mobile-s {
            flex-direction: column;
            padding-top: 20px;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;

        &-text {
            text-align: center;
        }

        &-year {
            font-size: 14px;
            color: var(--color-text-muted);
            text-align: center;
        }

        @include mobile-s {
            gap: 5px;

        }
    }
}