@use '../abstracts' as *;

.footer {
    background-color: var(--color-header);

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: px-to-rem(10);
        gap: px-to-rem(20);

        @include mobile-s {
            flex-direction: column;
            padding-top: px-to-rem(20);
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: px-to-rem(10);

        &-text {
            text-align: center;
        }

        &-year {
            font-size: px-to-rem(14);
            color: var(--color-text-muted);
            text-align: center;
        }

        @include mobile-s {
            gap: 5px;

        }
    }
}