@use '../abstracts' as *;

.header {
    padding: 10px 0;
    text-transform: var(--text-uppercase);
    background-color: var(--color-header);
    z-index: 30;

    &__inner {
        position: relative;

        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
    }

    &__menu {
        display: flex;
        align-items: center;
        gap: 40px;
        z-index: 20;
    }

    &__list {
        display: flex;
        align-items: center;
        gap: 50px;

        &-item {
            transition: transform var(--transition-duration);

            @include hover {
                transform: scale(1.1);
            }
        }
    }

    &__link {
        @include fluid-text(20, 16);
    }

    &__actions {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    @include tablet-and-down {
        &__button {
            padding: var(--button-padding-tablet);
        }

        &__actions {
            gap: 20px;
        }

        &__list {
            gap: 20px;
        }

        &__logo-image {
            width: 160px;
        }
    }

    @include mobile {
        &__inner {
            justify-content: center;
        }

        &__logo-image {
            width: 200px;
        }

        &__menu {
            position: absolute;
            top: calc(60% + 16px);
            right: 24px;

            display: none;
            flex-direction: column;
            align-items: stretch;
            gap: 30px;
            width: 220px;
            padding: 24px;
            background-color: var(--color-bg);
            border-radius: var(--border-radius);
            font-weight: 700;
        }

        &__list {
            flex-direction: column;
            align-items: center;
            gap: 25px;
        }

        &__link {
            display: block;
        }

        &__actions {
            display: none;
        }

        &__menu.is-open {
            display: flex;
        }

    }

    @include mobile-xs {
        &__inner {
            justify-content: space-between;
        }
    }

    @include mobile-s {
        &__menu {
            width: 180px;
            padding: 20px;
        }
    }
}