@use '../abstracts' as *;

.preorder {
    background-image: url('../../assets/images/preorder-fon.jpg');
    background-size: cover;
    background-position: center 75%;

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: px-to-rem(20);
    }
    &__text {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: px-to-rem(10);
    }
    &__button {
        @include flex-center(true);
        gap: px-to-rem(10);
        
        &::after {
            content: '→';
            transition: transform var(--transition-duration);
        }
        @include hover {
            &::after {
                transform: translateX(4px);
            }
        }
    }
}