@use '../abstracts' as *;

.system {
    &__container {
        display: flex;
        flex-direction: column;
        gap: px-to-rem(30);
    }

    &__head {
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid rgb(255 255 255 / 10%);
        padding-bottom: px-to-rem(10);
    }

    &__title {
        text-transform: var(--text-uppercase);
        color: var(--color-accent);
        font-weight: 300;
    }

    &__requirements {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: px-to-rem(100);

        @include mobile {
            flex-direction: column;
            gap: px-to-rem(30);
        }
    }

    &__section {
        display: flex;
        flex-direction: column;
        gap: 3px;
        padding-inline: px-to-rem(40);

        &--recommended {
            border-left: 1px solid rgb(255 255 255 / 25%);
        }

        @include mobile {
            padding-inline: 0;

            &--recommended {
                border-left: none;
                border-top: 1px solid rgb(255 255 255 / 25%);
                padding-top: px-to-rem(30);
            }
        }
    }

    &-section {
        &__title {
            text-transform: var(--text-uppercase);
            color: var(--color-accent);
            font-weight: 300;
            margin-bottom: px-to-rem(10);
        }

        &__text {
            font-weight: 400;
        }

        &__item {
            font-weight: 300;
            font-size: px-to-rem(16);
        }
    }
}

.graphics .system-section__item:last-of-type {
    display: inline-block;
    margin-left: px-to-rem(80);

    @include tablet-and-down {
        margin-left: px-to-rem(40);
    }

    @include mobile-xs {
        margin-left: px-to-rem(20);
    }
}