:root {
    --color-header: #0a0a0a;
    --color-bg: #0a0f11;
    --color-modal-order: #172025;
    --color-text: #f1efe9;
    --color-icon: #fdfdfd;
    --color-text-muted: #888888;
    --color-accent: #DA9B2E;
    --color-accent-dark: #3f3206;

    --background-modal: linear-gradient(145deg, rgb(2 2 2 / 98%), rgb(49 34 7 / 98%));

    --background-backdrop: rgba(5, 5, 5, 0.75);
    
    --color-tag: rgb(245, 245, 245, 0.7);
    --background-tag: rgba(255, 156, 9, 0.1);

    --font-family-base: 'Inter', sans-serif;
    --font-family-heading: 'Cinzel', serif;
    --text-uppercase: uppercase;

    --container-width: 1240px;
    --container-padding-x: 24px;

    --section-padding-y-top: 20px;
    --section-padding-y-bottom: 30px;

    --button-padding: 15px 30px;
    --button-padding-tablet: 10px 20px;

    --border-radius: 3px;
    --border-radius-card: 5px;
    --border-radius-large: 50%;

    --border: none;
    --border-transparent: 1px solid var(--color-text);
    --border-accent-dark: 1px solid var(--color-accent-dark);
    --border-transparent-accent: 1px solid var(--color-accent);


    --transition-duration: 0.3s ease;
}